body{
    background-color: aquamarine;

}
.main{
    background-color: azure;
    width: 1080px;
    height: 1920px;
    position: relative;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
menu{
    display: block;
    background-color: #b1b1b1;
}
.navbar {
    height: 65px;
    background-color: #b1b1b1;
    position: center;
}
ul{
    text-align: center ;
}
ul.navbar-nav{
    font-size: 24px;
    padding-left: 740px;
}
.navbar-collapse{
    font-size: 24px;
    background-color: #f8f9fa;
    z-index: 2;
}

.dropdown-menu{
    background-color: #f8f9fa;
}

.item-info{
    background-color: bisque;
    width: 270px;
    height: 550px;
    float: right;
    border-style: solid;
}
.foto{
    height: 230px;
    width: 263px;
    position: relative;
}
.info-text{
    padding-left: 30px;
}
#main-switch{
    font-size: 40px;
}
.nav-item{
    padding-right: 30px;
}

.szafir-card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 350px;
    padding: 20px;
    border-style: solid;
    top: 20px;
    position: absolute;
}
.szafir-photo{
    width: 300px;
    height: 330px;
}
.info{
    text-align: center;
}
